	<div class="resolucion">
      		  <div class="desktop">
          	  	<h1>Esto es un ordenador</h1>
       		 </div>
       		 <div class="tablet">
           		 <h1>Esto es un tablet</h1>
       		 </div>
      		  <div class="movil">
          		  <h1>Esto es un movil</h1>
		  </div>

.resolucion {
    width: 99%;
    text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}


/**Escritorio**/

@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
}.resolucion {
    width: 99%;
    text-align: center;
}




.resolucion {
    width: 99%;
    text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}


/**Escritorio**/

@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
}.resolucion {
    width: 99%;
    text-align: center;
}
}
