.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-gallery-1 {
  width: 592px;
  height: 439px;
  grid-gap: 10px 10px;
  margin: 203px auto 0 0;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: -418px 0 0 626px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 14px 95px 0 655px;
}

.u-section-1 .u-text-3 {
  margin: 14px 63px 0 626px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 20px 44px 0 auto;
  padding: 19px 169px 19px 168px;
}

.u-section-1 .u-group-1 {
  width: 314px;
  min-height: 124px;
  height: auto;
  margin: 95px auto 0 826px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-4 {
  width: 145px;
  left: -37px;
  right: auto;
}

.u-section-1 .u-text-4 {
  margin: 11px 20px 0 130px;
}

.u-section-1 .u-text-5 {
  margin: 9px 20px 0 129px;
}

.u-section-1 .u-btn-2 {
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  background-image: none;
  margin: 7px 42px 0 auto;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 314px;
  min-height: 124px;
  height: auto;
  margin: -124px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 145px;
  left: -36px;
  right: auto;
}

.u-section-1 .u-text-6 {
  margin: 11px 20px 0 129px;
}

.u-section-1 .u-text-7 {
  margin: 9px 20px 0 129px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 12px 44px 0 auto;
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 314px;
  min-height: 132px;
  height: auto;
  margin: -124px auto 60px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 146px;
  left: -35px;
  right: auto;
}

.u-section-1 .u-text-8 {
  margin: 11px 20px 0 129px;
}

.u-section-1 .u-text-9 {
  margin: 13px 20px 0 129px;
}

.u-section-1 .u-btn-4 {
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 14px 42px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -490px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 174px;
    margin-right: -232px;
    margin-left: 658px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 197px;
    margin-right: 0;
    margin-left: 489px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -188px;
    margin-right: -91px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 316px;
    margin-left: 626px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 129px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -120px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -132px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 204px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 431px;
    margin-left: 548px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -13px;
    margin-left: 269px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 92px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 352px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: -268px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -300px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 557px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -609px;
    margin-right: 48px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 640px;
    margin-left: 458px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -626px;
    margin-left: 89px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 831px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -387px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    height: 339px;
    margin-top: 235px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -391px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 472px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -61px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: 0;
    padding-right: 104px;
    padding-left: 104px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 406px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -292px;
  }
}