.u-section-1 .u-sheet-1 {
  min-height: 527px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0 130px;
}

.u-section-1 .u-form-1 {
  height: 191px;
  margin: 4px 27px 0 538px;
}

.u-section-1 .u-btn-1 {
  padding: 12px 243px 13px 241px;
}

.u-section-1 .u-text-2 {
  margin: -14px 92px 0 603px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -207px auto 0 69px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 27px 658px 0 69px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 693px;
  height: 63px;
  margin: 256px auto 0;
}

.u-section-1 .u-image-1 {
  width: 693px;
  height: 62px;
  transform-origin: center center 0px;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  transform: rotate(0.06deg);
}

.u-section-1 .u-text-4 {
  font-size: 0.625rem;
  margin: -15px 102px 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 365px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-top: 196px;
    margin-right: 0;
    margin-left: 495px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 527px;
    margin-left: 130px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 245px;
  }

  .u-section-1 .u-image-1 {
    width: 607px;
    margin-right: auto;
    margin-left: 218px;
  }

  .u-section-1 .u-text-4 {
    margin: -158px 2px 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 145px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 275px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 307px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 217px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-4 {
    margin: 46px 0 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 95px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 127px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 49px;
    margin-top: 220px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 49px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    height: 196px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 32px;
    margin-left: -37px;
    margin-right: -37px;
  }

  .u-section-1 .u-text-3 {
    width: 258px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 31px;
    margin-top: 459px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 31px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
  }
}