.u-section-1 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 618px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 19px auto 0 -8px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 23px 0 0 60px;
}

.u-section-1 .u-form-1 {
  height: 195px;
  width: 793px;
  margin: 38px -45px 0 31px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 618px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 335px;
  height: 335px;
  margin: 63px auto 0;
}

.u-section-1 .u-image-1 {
  width: 334px;
  height: 334px;
  transform-origin: center center 0px;
  position: relative;
  top: 1px;
  left: 1px;
  transform: rotate(359.7deg);
  background-image: url("images/FACT.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 470px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-1 .u-image-1 {
    margin: 74px -1px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 718px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 72px;
    margin-left: -5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 587px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 828px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 370px;
    margin-bottom: -332px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -288px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}